[core]
  editor = nvim

[alias]
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' # show log tree
  tra = log --all --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' # show log tree
  l = !lazygit
  lp = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat # show change file and line counts
  a = !git add -A && git status -s # add all and show git status
  ai = !git add -i && git status -s # add all and show git status
  c = commit # commit
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort # show aliases
  s = status # git status
  n = !git add -A && git now # add and git now
  t = !tig # open tig
  ps = !echo "git push -u origin `git rev-parse --abbrev-ref HEAD 2> /dev/null`" && git push -u origin `git rev-parse --abbrev-ref HEAD 2> /dev/null` # git push --set-upstream origin {{new-remote-branch}}
  psf = push --force-with-lease
  pl = pull # pull
  ch = checkout # checkout
  b = branch # branch
  d = diff # diff unstaged
  df = diff --stat # diff file stat
  ds = diff HEAD # diff staged
  dp = diff HEAD^ # diff previous commit
  st = !git add && git stash # stash anyway

[commit]
  verbose = true
  gpgSign = true

[push]
  default = simple
[user]
  mail = mrfool38@gmail.com
  name = ahyahya1
  email = mrfool38@gmail.com
	signingkey = 9DBD826176BEBC771DDA02B439241D3AF7C2441E
